body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-container {
  width: 100%;
  max-width: 400px;
  background-color: #EAEAEA;
  border-radius: 10px;
  padding: 20px;
  /* border: 3px solid #0091ff; */
}

.register-box {
  text-align: center;
}

.register-box h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.register-btn {
  padding: 6px 10px;
  background-color: #8d5c20;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #734915;
}

.signin-link {
  display: block;
  margin-bottom: 10px;
  margin-left: 21rem;
  color: #0091ff;
  text-decoration: none;
}

.signin-link:hover {
  text-decoration: underline;
}

.social-login {
  margin-top: 20px;
  margin-inline: 2rem;
}

.social-login button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: white;
  cursor: pointer;
}

.social-login img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.google-btn:hover {
  background-color: #f7f7f7;
}

.facebook-btn:hover {
  background-color: #e9effb;
}
