:root{
    --primery: linear-gradient(90deg, #0026FF 10%, #001799 );
    --font: #9D6704;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 2000px;
}

/* navbar */

.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #f7f6cd;
    border-bottom: 0.1rem solid #b3acac;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-logo{
    width: 6%;
}


.navbar .navbar-nav a,
.navbar .navbar-n a{
    color: #0b0b0b;
    display: inline-block;
    margin: 0 0.5rem;
    font-size: 1rem;
}



.navbar .navbar-nav a::after,
.navbar .navbar-n .masuk::after,
.navbar .navbar-n .daftar::after{
    content: '';
    display: block;
    padding-bottom: 0.3rem ;
    border-bottom: 0.2rem solid #0b0b0b;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after,
.navbar .navbar-n .masuk:hover::after,
.navbar .navbar-n .daftar:hover::after{
    transform: scaleX(0.5);
}

.navbar .navbar-n span{
    color: #0b0b0b;
    display: inline-block;
    font-size: 1rem;
    margin:0 0.5rem;
    border: 0.1rem solid #0b0b0b;
    padding: 0.2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.navbar .navbar-extra a{
    color: #0b0b0b;
    margin: 0rem 2rem -1rem ;
}


#humburger-menu{
    display: none;
}


/* hero */
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-bottom: 20rem;
    background-image: url('img/Group\ 1\ \(1\).jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hero::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: -10;
}

.hero .content{
    padding: 1.4rem 11%;
    max-width: 80rem;
    color: #fff;
}

.hero .content h5{
    font-size: 1.4rem;
    font-weight: 300;
}


.hero .content h2{
    font-size: 3rem;
}

.hero .content span{
    font-style: italic;
    font-weight: 200;
}

.hero .content h4{
    font-size: 1.9rem;
    font-weight: 300;
}


.hero .content .cta{
     margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #1976D2;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}








/*media queries*/

/*laptop*/
@media (max-width: 1366px ){ 
     html{
        font-size: 75%;
    }
}


/*tablet*/
@media screen and (max-width: 758px){
    html{
        font-size: 62.5%;
    }

    .navbar-logo{
        width: 10%;
    }

    #humburger-menu{
    display: inline-block;
    }

    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 20rem;
        height: 100vh;
    }
    
    .navbar .navbar-n{
       display: flex;
    }

    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a{
        color: #0b0b0b;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    } 

    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after{
       transform: scaleX(0.2);
    }

    .hero .content h5{
        font-size: 1rem;
    }


    .hero .content h2{
        font-size: 2rem;
    }

    .hero .content h4{
        font-size: 1.25rem;
    }

    .hero .content .cta{
        font-size: 1rem;
        border-radius: 0.8rem;
    }

    
   
}